.navbar {
  background-color: rgba(#666, 0.1);
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  border-radius: 6px;
  padding: 0.25rem 0;

  a {
    margin: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    font-size: 0.9rem;
    padding-top: 0.75rem;

    color: rgba(#f49d1a, 0.5);

    &:hover {
      background-color: rgba(#f49d1a, 0.1);
      color: rgba(#f49d1a, 0.6);
    }

    &.active {
      background-color: rgba(#f49d1a, 0.15);
      color: rgba(#f49d1a, 0.75);
    }
  }
}
